<!--Header-->
<header class="top_image">
  <div class="transparent">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="main-text">
            <div>おしゃれな子供服を受け取ろう</div>
          </div>
            <div class="sub-text">月額5000円で季節に応じてパーソナライズされた子供服を届けます。</div>  
          </div>
      </div>    
    </div>
  </div>
</header>

<!--Services Section-->
<section id="services">
  <div class="section-container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">ご利用方法</h2>
          <h3 class="section-subheading text-muted">レンタルでも購入でもない、新しい子供服のショッピングを体験</h3>
      </div>
    </div>
    
  <div class="row text-center">
    <div class="col-xs-12 col-md-4" style="padding:0;">
      <div class="service-box">
        <div class="services_image">
          <img src="<%= asset_path "key.png" %>">
            <h3 class="text-muted">答える</h3>
              <P>お子さんの好きな服を教えてください。
              <br>ご要望に応じて、スタイリストがセレクトします。</P>
        </div>
    　</div>
    </div>
    
    <div class="col-xs-12 col-md-4" style="padding:0;">
      <div class="service-box">
        <div class="services_image">
          <img src="<%= asset_path "key.png" %>">
            <h3 class="text-muted">着る</h3>
              <P>パーソナライズされた洋服が10着届きます。
              <br>好きなだけ、おしゃれを楽しんで。
              </P>
        </div>
    　</div>
    </div>
    
    <div class="col-xs-12 col-md-4" style="padding:0;">
      <div class="service-box">
        <div class="services_image">
          <img src="<%= asset_path "key.png" %>">
            <h3 class="text-muted">交換</h3>
              <P>子供が大きくなったら、いつでも新しい服と交換可能！
              <br>次回はもっと素敵な商品が届くよ！
              </P>
        </div>
    　</div>
    </div>
    
</div>
</section>





