<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% if errors_messages.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% errors_messages.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
</div>
