<!--管理者にメール通知、問い合わせ者に完了通知-->
<div class="container basic">
  <%= render partial: "shared/basic-title-rule", locals: { heading_text: "お問い合わせ完了", subheading_text: "お問い合わせありがとうございます。担当者より改めてご連絡いたします。" } %>
</div>
