<%= render partial: "shared/errors-messages", locals: { errors_messages: @contact } %>
<div class="container basic">
  <%= render partial: "shared/basic-title-rule", locals: { heading_text: "お問い合わせ", subheading_text: "何かご不明点等ございましたら、気軽にご連絡下さい。" } %>
  <%= render 'form', contact: @contact %>
</div>
