// トップページと基本画面

html {
  font-size: 62.5%;
  height: 100%;
  position: relative;
}
body {
  background-color: #fafafa
}
/*ヘッダー、ナビ*/
.navbar-default.adjust {
  background-color: #fff;
  // border-bottom: 4px solid #f7f7f7;
  box-shadow: 0px 2px 1px 0px rgba(102, 93, 93, 0.15);
}
.navbar-default .navbar-brand {
  color: #f0f4f5;
  text-shadow: 1px 1px 1px #333;
}

.collapse.navbar-collapse.navbar-right {
    text-align: right;
    display: block;
}
.top_image {
  background-image: url(kid_smail.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vm;
  height: 100vh;
}
.transparent {
  background-color:rgba(255,255,255,0.7);
  height: 100%;
}

.main-text {
    margin-top: 340px;
    font-size: 5rem;
    font-weight: bold;
    line-height: 1.0em;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 2px #333;
}
.sub-text {
    margin-top: 27px;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.0em;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
}
.start {
    margin-top: 70px;
    text-align: center;
}







// Top Section

.top-introduction-container {
  background-color: #fafafa;
}
section {
    padding: 100px 0;
}
section h2.top-introduction-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 42px;
    line-height: 1.5
}
.border {
    width: 66px;
    border-top: none;
    border-bottom: 3px solid #2fd4a6;;
    display: inline-block;
}
section h3.top-introduction-subheading {
    margin-bottom: 75px;
    margin-top: 190px;
    text-transform: none;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.6;
}
.top-introduction-container img {
    width: 80%;
    margin: 70px 0 0;
}
.top-introduction-description {
    margin: 10px 0 0;
    font-size: 18px;
}
.btn-start {
  width: 200px;
  color: white;
  font-size: 18px;
  background: #2fd4a6;
  border: 1px solid #2fd4a6;
}
.register-btn {
    border: 1px solid #c2f3ee;
    background: #c2f3ee;
    color: #fff;
    width: 100px;
    text-align: center;
    border-radius: 3px;
}

// Second Section
.second-introduction-container {
  background-color: white;
}
section h2.second-introduction-heading {
    margin-top: 120px;
    margin-bottom: 15px;
    font-size: 42px;
    line-height: 1.5
}
.border {
    width: 66px;
    border-top: none;
    border-bottom: 3px solid #2fd4a6;
    display: inline-block;
}
section h3.second-introduction-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
}
.second-introduction-num {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 8px 0 0;
    border-radius: 50%;
    background: #2fd4a6;;
    text-align: center;
    line-height: 40px;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
}
.text-center.adjust {
    font-weight: bold;
    color: #44ceaf;
}
.second-introduction-container img {
    width: 60%;
    margin: 16px 0 0;
}
.second-introduction-description {
    margin: 16px 0 120px;
    font-size: 2.5rem;
}
.third-introduction-description {
    margin-top: 60px;
    font-size: 16px;
    width: 100%;
    line-height: 1.8;
}


footer {
  width: 100%;
  height: 40px;
  position: relative;
  bottom: 0;
  text-align: center;
  background-color: #f0f4f5;
}
.flash {
  color: white;
  text-align: center;
  height: 34px;
  font-size: 20px;
  margin-top: 54px;
  &__alert{
    background-color: #2abfb3;
  }
  &__notice {
    background-color: #2abfb3;
  }
  &__danger {
    background-color: #ea352d;
  }
}
